* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Book";
  font-display: swap;
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fontawesome";
  font-display: swap;
  src: url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Gotham-Book";
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper.loaded .preloader {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.header {
  height: 105px;
  border-bottom: 1px solid #797979;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  margin: 20px 0px 0px 0px;
  position: relative;
  z-index: 4;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 54px 0px 0px;
}

.menu-header__list li {
  margin: 0px 45px 0px 0px;
}

.menu-header__list li:last-child {
  margin: 0;
}

.menu-header__link {
  display: inline-block;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 20px;
  position: relative;
}

.menu-header__icon {
  width: 20px;
  height: 20px;
  margin: 0px 25px 0px 0px;
  position: relative;
}

.menu-header__icon span {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon__fb,
.icon__tw,
.icon__skype,
.icon__in,
.icon :before {
  content: "";
  width: 10px;
  height: 20px;
  color: #f5f5f5;
  font-family: "fontawesome";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.icon__fb:before {
  content: "\f09a";
}

.icon__tw:before {
  content: "\f099";
}

.icon__skype:before {
  content: "\f17e";
}

.icon__in:before {
  content: "\f0e1";
}

.footer {
  background-color: #222222;
}

.footer__body {
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__rights {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0.26px;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

.footer__design {
  margin: 0px 0px 15px 0px;
  text-align: center;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  background-color: #0bb8ec;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  top: 0;
  border-radius: 100%;
  background-color: #1708ee;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.but-up {
  position: fixed;
  visibility: hidden;
  right: 15px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  z-index: 3;
  background-color: #ff00ff;
  border-radius: 50%;
}

.but-up.unhidden {
  visibility: visible;
}

.icon-up:before {
  content: "\f062";
  font-family: "fontawesome";
  font-size: 20px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.icon-up:hover:before {
  color: #000;
}

.full-main {
  min-height: 100vh;
  background: url("../img/bg-main.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.full-main__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
}

.full-main__title {
  text-align: center;
  color: #f5f5f5;
  font-family: Gotham;
  font-size: 153px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.92px;
  margin: 0px 0px 36px 0px;
}

.full-main__text {
  text-align: center;
  color: #11749e;
  font-family: Gotham;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 7.88px;
  margin: 0px 0px 118px 0px;
}

.full-main__scroll {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  margin: 0px 0px 22px 0px;
}

.full-main__img-scroll {
  margin: 0px 0px 20px 0px;
}

.full-main__img-scroll img {
  max-width: 100%;
}

.full-agency {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #11749e;
}

.full-agency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  margin: 40px 0px 40px 0px;
}

.full-agency__top {
  position: relative;
  max-width: 626px;
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 68px 0px;
}

.full-agency__symbol {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0.18;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}

.full-agency__title {
  max-width: 626px;
  color: #ffffff;
  font-family: Gotham;
  font-size: 37px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-align: center;
}

.row-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -28.5px;
}

.row-agency__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0px 28.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.row-agency__image {
  margin: 0px 0px 24px 0px;
  display: block;
  text-align: center;
}

.row-agency__title {
  margin: 0px 0px 33px 0px;
  color: #ffffff;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.row-agency__text {
  color: #ffffff;
  font-size: 15px;
  max-width: 258px;
  line-height: 24px;
  text-align: center;
}

.full-article {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.full-article__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222222;
  min-height: 50vh;
}

.full-article__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  min-height: 50vh;
}

.full-article__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.full-article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.full-article__body {
  max-width: 469px;
}

.full-article__date-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  margin: 0px 0px 18px 0px;
}

.full-article__date {
  padding: 0px 12px 0px 0px;
  border-right: 1px solid #ffffff;
}

.full-article__category {
  padding: 0px 0px 0px 12px;
}

.full-article__title {
  color: #ffffff;
  font-family: Gotham;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 0px 43px 0px;
}

.full-article__text {
  color: #ffffff;
  font-size: 15px;
}

.full-article__text p:first-child {
  margin: 0px 0px 30px 0px;
}

.full-article__image img {
  max-width: 100%;
}

.w {
  color: #000;
}

.bb {
  border-right: 1px solid #000;
}

.full-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 92px 0px 79px 0px;
}

.full-blog__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.full-blog__top {
  position: relative;
  max-width: 222px;
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 40px 0px;
}

.full-blog__symbol {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0.18;
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}

.full-blog__title {
  color: #222222;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.full-blog__subtitle {
  color: #222222;
  font-size: 30px;
  margin: 0px 0px 76px 0px;
  text-align: center;
}

.row-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-blog__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.row-blog__image {
  margin: 0px 0px 44px 0px;
}

.row-blog__title {
  margin: 0px 0px 26px 0px;
  color: #11749e;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.row-blog__text {
  color: #222222;
  font-size: 15px;
  text-align: center;
  max-width: 258px;
}

.row-blog__text p:first-child {
  margin: 0px 0px 30px 0px;
}

.notes {
  padding: 100px 0px 70px 0px;
  background-color: #11749e;
}

.notes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -31px;
}

.notes__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

.notes__image {
  margin: 0px 34px 0px 0px;
}

.notes__text {
  color: #ffffff;
  font-size: 15px;
}

.notes__text p:first-child {
  margin: 0px 0px 30px 0px;
}

.full-application {
  min-height: 100vh;
  padding: 50px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../img/bg-application.png") center/cover no-repeat;
}

.full-application__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1123px;
  margin: 0px auto;
}

.full-application__row {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.row-application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row-application__info {
  padding: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}

.row-application__title {
  color: #ffffff;
  font-family: Gotham;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 0px 41px 0px;
}

.row-application__text {
  max-width: 469px;
  color: #ffffff;
  font-size: 15px;
  margin: 0px 0px 68px 0px;
}

.row-application__text p:first-child {
  margin: 0px 0px 15px 0px;
}

.row-application__list {
  color: #ffffff;
  font-family: Gotham;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  -moz-text-align-last: left;
  text-align-last: left;
}

.row-application__list li {
  background-color: #11749e;
  margin: 0px 0px 24px 0px;
  padding: 13px 0px 13px 19px;
}

.row-application__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.row-application__list li:nth-child(1) {
  max-width: 370px;
}

.row-application__list li:nth-child(2) {
  max-width: 400px;
}

.row-application__list li:nth-child(3) {
  max-width: 428px;
}

.row-application__image img {
  max-width: 100%;
}

.full-team {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
}

.full-team__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.full-team__top {
  max-width: 206px;
  height: 176px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 67px 0px;
}

.full-team__symbol {
  position: absolute;
  opacity: 0.18;
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 200px;
  text-transform: uppercase;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.full-team__title {
  text-align: center;
  color: #222222;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.full-team__subtitle {
  color: #222222;
  font-size: 30px;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.row-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-team__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}

.row-team__content {
  position: relative;
  margin: 0px 0px 3px 0px;
}

.row-team__name {
  width: 216px;
  height: 50px;
  color: #11749e;
  font-family: Gotham;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-team__job {
  color: #000000;
  font-family: Gotham;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.full-form {
  padding: 60px 0px 0px 0px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../img/bg-form.png") center/cover no-repeat;
}

.full-form__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1207px;
  margin: 0px auto;
}

.full-form__top {
  max-width: 870px;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 76px 0px;
}

.full-form__symbol {
  opacity: 0.18;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 200px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: 700;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.full-form__title {
  color: #ffffff;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.content-form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0px 20px;
}

.content-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-form__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0 19px;
}

.content-form__name {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-form__email {
  margin: 0px 28px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-form__phone {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-form__message {
  width: 100%;
}

.content-form__message textarea {
  width: 100%;
  background-color: inherit;
  border: 1px solid #ffffff;
  padding: 18px 0px 0px 22px;
  height: 151px;
  color: #fff;
  resize: none;
}

.content-form__message textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.content-form__message textarea:focus::-moz-placeholder {
  opacity: 0;
}

.content-form__message textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.content-form__message textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.content-form__message textarea:focus::placeholder {
  opacity: 0;
}

.content-form__button {
  margin: 46px 0px 40px 0px;
  position: relative;
}

.content-form__button button {
  color: #ffffff;
  font-family: Gotham;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #11749e;
  padding: 20px 70px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input {
  display: block;
  background-color: inherit;
  color: #fff;
  max-width: 370px;
  height: 48px;
  border: 1px solid #ffffff;
  padding: 0px 0px 0px 22px;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input:focus::-moz-placeholder {
  opacity: 0;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
}

.input:focus::placeholder {
  opacity: 0;
}

@media (min-width: 767.98px) {
  .full-article__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    position: relative;
  }

  .full-article__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (min-width: 991.98px) {
  .content-form__button button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  .menu-header__link:hover:after {
    content: "";
    position: absolute;
    width: 76px;
    height: 6px;
    bottom: -53px;
    left: 0;
    background-color: #11749e;
  }

  .menu-header__icon:hover:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 6px;
    bottom: -54px;
    left: 0;
    background-color: #11749e;
  }
}

@media (max-width: 1213px) {
  .menu-header__link {
    font-size: 17px;
  }

  .row-team {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .row-team__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }

  .full-blog {
    padding: 50px 0px 49px 0px;
  }
}

@media (max-width: 1200px) {
  .row-blog {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .row-blog__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .menu-header {
    display: block;
  }

  .menu-header__list {
    margin: 25px 0px 20px 0px;
  }

  .menu-header__social {
    text-align: center;
  }

  .full-main__title {
    font-size: 100px;
  }

  .row-agency {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .row-agency__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .full-application {
    padding: 35px 0px 35px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    height: 70px;
    position: relative;
  }

  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 20px;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before {
    width: 30px;
    top: 0;
    left: 0;
  }

  .header__burger:after {
    width: 10px;
    bottom: 0;
    right: 0;
  }

  .header__burger span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    right: 0;
    top: 9px;
  }

  .header__burger.active-menu span {
    display: none;
  }

  .header__burger.active-menu:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active-menu:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
    width: 30px;
  }

  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
  }

  .menu-header.active-menu {
    right: 0;
  }

  .menu-header__list {
    display: block;
    margin: 120px 0px 0px 0px;
    text-align: center;
  }

  .menu-header__list li {
    margin: 0px 0px 45px 0px;
  }

  .menu-header__list li:last-child {
    margin: 0px 0px 45px 0px;
  }

  .menu-header__link {
    font-size: 22px;
    width: 100%;
  }

  .menu-header__bef-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px auto;
  }

  .menu-header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px -25px 50px;
  }

  .menu-header__icon {
    padding: 0px 25px;
  }

  .menu-header__icon span img {
    width: 25px;
    height: 25px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
  }

  .fixed-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .but-up {
    display: none;
  }

  .full-main__title {
    font-size: 50px;
  }

  .full-main__text {
    font-size: 20px;
  }

  .full-main__text {
    font-size: 17px;
  }

  .full-main__img-scroll {
    width: 50px;
    height: 50px;
  }

  .margin {
    margin: 115px auto 0px;
  }

  .full-article__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .full-article__bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .full-article__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .full-blog {
    padding: 25px 0px 10px 0px;
  }

  .full-blog__subtitle {
    margin: 0px 0px 46px 0px;
  }

  .row-blog__image {
    margin: 0px 0px 30px 0px;
  }

  .notes {
    padding: 50px 0px 20px 0px;
  }

  .notes__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .notes__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .notes__image {
    margin: 0px 0px 30px 0px;
  }

  .notes__text {
    margin: 0px 0px 0px 20px;
  }

  .notes__text p:first-child {
    margin: 0px 0px 15px 0px;
  }

  .row-application__list li:nth-child(1) {
    max-width: 100%;
  }

  .row-application__list li:nth-child(2) {
    max-width: 100%;
  }

  .row-application__list li:nth-child(3) {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .row-application {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .row-application__title {
    text-align: center;
  }
}

@media (max-width: 651px) {
  .content-form__name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .content-form__email {
    margin: 0 0 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .content-form__phone {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .content-form__about {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .row-team__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 589px) {
  .row-blog__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 580px) {
  .footer__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__rights {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .footer__design {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 479.98px) {
  .full-agency__title {
    font-size: 30px;
  }

  .row-agency__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .notes__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.webp .full-main { background: url(../img/bg-main.webp) center/cover no-repeat; }

.webp .full-application { background: url(../img/bg-application.webp) center/cover no-repeat; }

.webp .full-form { background: url(../img/bg-form.webp) center/cover no-repeat; }